<div id="login">
  <h1 style="margin-top: 80px; margin-left: 100px">EQ Mobile Data Collector</h1>
  <div class="row" style="margin-top: 50px; margin-left: 150px">
    <div class="col-xs-12">
      <h4 ng-bind-html="language.loginHead"></h4>
      <p ng-bind-html="language.loginText"></p>

      <div
        class="alert alert-danger"
        role="alert"
        ng-if="error"
        ng-bind-html="error"
      ></div>

      <form
        role="form"
        class="form-inline user-code-form"
        ng-submit="login(usercode)"
      >
        <div class="form-group">
          <label for="usercode" ng-bind-html="language.loginFormHeader"></label>
          <input
            class="form-control"
            id="usercode"
            ng-model="usercode"
            autocomplete="off"
          />
          <div class="userNameDiv">
            <label
              for="username"
              ng-bind-html="language.loginPartIdText"
              ng-if="showNameInput"
            ></label>
            <input
              class="form-control"
              id="username"
              ng-model="user.PartName"
              autocomplete="off"
              ng-if="showNameInput"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-default"
            ng-bind-html="language.btnContinue"
          ></button>
        </div>
      </form>
      <h4 id="submitSortsLabel" style="margin-top: 180px"></h4>
      <button class="btn btn-info" ng-click="submitLocalToFirebase()">
        Send Stored Q Sorts to Firebase
      </button>
      <h4 id="submitSortsLabel" style="margin-top: 80px"></h4>
      <button class="btn btn-info" ng-click="clearLocalstorage()">
        Clear Memory and Delete Sorts?
      </button>
    </div>
  </div>
</div>
